%h1 Welcome to Timesheets
- if current_user
  %p 
    Signed in as #{current_user.email} | 
    =link_to "Sign out",logout_path,:method=>:delete
- else 
  %p= link_to "Sign in", new_user_session_path
  = link_to 'Sign in via Google Apps', user_omniauth_authorize_path(:google)
  
